<div class="ui">
  <p class="title">Tape Quik !</p>
  <div>
    <button *ngFor="let level of quikService.levels" 
    [class.active]="level.name === quikService.config.level.name"
      (click)="restart(level)">
      {{level.name}}
    </button>
  </div>
</div>


<div class="ui-bottom">
  <div class="timer">{{quikService.timer / 1000}}</div>
  <button class="start" [disabled]="quikService.state === true" (click)="start()">start</button>
</div>

<div class="playerState" *ngIf="quikService.playerState">{{quikService.playerState}}</div>

<main>
  <div class="main-floor"></div>
  <div class="quiks">
    <quik *ngFor="let quik of quiks" [quik]="quik"></quik>
  </div>
</main>